################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.lock
*.suo
*.dll.pbd
*.cache
/Questao1/obj/Debug/net6.0/Questao1.assets.cache
/Questao1/obj/Debug/net6.0/Questao1.GeneratedMSBuildEditorConfig.editorconfig
/Questao2/obj/Debug/net6.0/Questao2.assets.cache
/Questao2/obj/Debug/net6.0/Questao2.GeneratedMSBuildEditorConfig.editorconfig
/Questao5/obj/Debug/net6.0/Questao5.assets.cache
/Questao5/obj/Debug/net6.0/Questao5.GeneratedMSBuildEditorConfig.editorconfig

/Questao1/bin/Debug/net6.0/Questao1.dll
/Questao1/bin/Debug/net6.0/Questao1.pdb
/Questao1/obj/Debug/net6.0/Questao1.csproj.FileListAbsolute.txt
/Questao1/obj/Debug/net6.0/Questao1.dll
/Questao1/obj/Debug/net6.0/Questao1.genruntimeconfig.cache
/Questao1/obj/Debug/net6.0/Questao1.pdb
/Questao1/obj/project.assets.json
/Questao1/obj/project.nuget.cache
/Questao1/obj/Questao1.csproj.nuget.dgspec.json
/Questao2/bin/Debug/net6.0/Questao2.dll
/Questao2/bin/Debug/net6.0/Questao2.pdb
/Questao2/obj/Debug/net6.0/Questao2.csproj.FileListAbsolute.txt
/Questao2/obj/Debug/net6.0/Questao2.dll
/Questao2/obj/Debug/net6.0/Questao2.genruntimeconfig.cache
/Questao2/obj/Debug/net6.0/Questao2.pdb
/Questao2/obj/project.assets.json
/Questao2/obj/project.nuget.cache
/Questao2/obj/Questao2.csproj.nuget.dgspec.json
/Questao5/bin/Debug/net6.0/Questao5.dll
/Questao5/bin/Debug/net6.0/Questao5.pdb
/Questao5/obj/Debug/net6.0/Questao5.csproj.FileListAbsolute.txt
/Questao5/obj/Debug/net6.0/Questao5.dll
/Questao5/obj/Debug/net6.0/Questao5.genruntimeconfig.cache
/Questao5/obj/Debug/net6.0/Questao5.pdb
/Questao5/obj/project.assets.json
/Questao5/obj/project.nuget.cache
/Questao5/obj/Questao5.csproj.nuget.dgspec.json
*.v2
*.config
